@font-face {
    font-family: EHUSans;
    src: url(EHUSans-Regular.otf);
}

body {
    font-family: EHUSans;
    height: 100vh;
    background-color: #1c1c1c;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.erdiratzea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.zentratua {
    text-align: center;
}

h1 {
    font-family: EHUSans;
    color: white;
    margin-bottom: 30px;
}

.berezia {
    display: inline;
}

.izenburu {
    font-family: EHUSans;
    color: white;
}

button {
    font-family: EHUSans;
    font-weight: bold;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffb60c;
    color: blue;
    border-color:#aa801f;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

.login-container {
    background: rgb(197, 197, 197);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.448);
    width: 300px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
}

button:hover {
    background-color: #aa801f;
    border-color: #aa801f00;
}

.error{
    color: red;
}

.map{
    height: 75%;
    width: 70%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

.mezuen-taula{
    font-family: EHUSans;
    height: 25%;
    width: 70%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

.informazioaren-taula{
    font-family: EHUSans;
    height: 50%;
    width: 30%;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

.dronen-taula{
    font-family: EHUSans;
    height: 50%;
    width: 30%;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

table,th,td{
    border: 2px solid white; 
    border-collapse: collapse;
    text-align: center;
    color: white; 
}


.no_border{
    border: none;
    border-collapse: collapse;
}


.link-button {
    font-family: EHUSans;
    border: 0;
    padding: 0;
    background: inherit;
    font: inherit;

    cursor: pointer;
    text-decoration: underline;
    color: blue;

    overflow: visible;
}

.izenburu_azalpena{
    font-family: EHUSans;
    height: 10%;
    width: 70%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}
.mapa_interaktiboa{
    font-family: EHUSans;
    height: 90%;
    width: 70%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

.insert_bidea{
    font-family: EHUSans;
    height: 100%;
    width: 30%;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #1c1c1c;
    padding: 10px;
}

.flask-container {
    font-family: EHUSans;
    position: relative;
    display: inline-block;
}
.tooltip {
    font-family: EHUSans;
    visibility: hidden;
    width: 500px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.flask-container:hover .tooltip {
        
    visibility: visible;
    opacity: 1;
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 90%;
    padding-left:50px;
    padding-right:50px;
    text-align: right;
    align-content: right;
    max-height: 15vh;
    overflow:hidden;
}