<!DOCTYPE html>
<html>
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {{ header|safe }}
  
    <style>
        table{
           width: 100%;
           border: 2px solid white; 
            border-collapse: collapse;
            text-align: center;
            color: white; 
        }
        th,td{
            border: 2px solid white; 
            border-collapse: collapse;
        }
    </style>
  
</head>
<body>
    <div class="map">
        {{ body_html|safe }}
        <script>
            {{ script|safe }}
        </script>      
    </div>
    <div class="mezuen-taula">
        <h2 class="izenburu">Azken mezu esanguratsuak:</h2>
        <table style="width: 100%;">
            <thead>
                <th>Timestamp</th>
                <th>Dronea</th>
                <th>Noranzkoa</th>
                <th>Mezua</th>
            </thead>
            <tbody>
                {% for row in mezu %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="informazioaren-taula">
        <h1>Ikusten: {{dronea}}:</h1>
        <p hidden id="droneID">{{droneID}}</p><!-- droneID elementu ID hau ez kendu! javascriptek behar du!-->
        <table>
            <thead>
                <tr>
                    <th>Xehetasunak</th>
                    <th>Timestamp</th>  <!-- ??? -->
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>Position</td>
                    <td>{{timestamp}}</td>
                </tr>
                <tr>
                    <td><span id="liveLat">NA</span></td><!--Orain dronak duen posizioa sartu-->
                    <td><span id="liveLng">NA</span></td>
                </tr>
                <tr>
                    <td>Next Waypoint</td>
                    <td>ETA: <span id="nextWPETA">NA</span> </td>
                </tr>
                <tr>
                    <td><span id="nextWPlat">NA</span></td>
                    <td><span id="nextWPlng">NA</span></td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td>ETA: <span id="goalWPETA">NA</span> </td>
                </tr>
                <tr>
                    <td><span id="goalWPlat">NA</span></td>
                    <td><span id="goalWPlng">NA</span></td>
                </tr>
            </tbody>
        </table>
    <br>
    <table class="no_border">
        <tr>
            <td class="no_border">
                <a href="{{url_for('modify_drone_page',drone=dronea)}}">
                    <button>Dronearen informazioa</button>
                </a>
            </td>
            {%if ikusi%}
            <td class="no_border">
                    <a href="{{url_for('insert_path',droneIzen=dronea)}}">
                        <button>Ibilbidea gehitu</button>
                    </a>
            </td>
            {%endif%}
        </tr>
        <tr>
            <td class="no_border">
                <a href="/">
                    <button>Deskargatu informazioa</button>
                </a>
            </td>
            <td class="no_border">
                <a href="/insert_sensor">
                    <button>Sartu sentsorea</button>
                </a>
            </td>
        </tr>
    
    </table>
</div>
    <div class="dronen-taula">
        <h1>Dronen zerrenda:</h1>
        <table>
            <thead>
                <th>Dronea</th>
                <th>Jabea</th>
            </thead>
            <tbody>
                {% for row in droneak %}
                <tr>
                    <td>
                        <form action="/control" method="post">
                            <input type="hidden" name="droneReq" value="{{ row.drone_id }}">
                            <button class="link-button" name="botoia" value="1">{{ row.drone_izen }}</button>
                        </form>
                    </td>
                    <td>
                        {{row.drone_jabea.erab_izen}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/insert-drone">
            <button>Gehitu dronea</button>
        </a>
    </div>
</body>

<script src="{{url_for('static', filename='mapUpdate.js')}}"></script>

</html>