<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="shorcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    </head>
    <body>
        <table>
            <thead>
                {% for column in header %}
                    <th>{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in items %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <form action="{{url_for('download_csv')}}">
            <input type="submit" value="Download">
        </form>

        <form action="{{url_for('in_drone')}}" method="post">
            <label for="mota">Mota:</label>
            <input type="text" id="mota" name="mota" />
            <br/>
            <label for="Izena">Izena:</label>
            <input type="text" id="izena" name="izena" />
            <br/>
            <label for="deskribapena">Deskribapena:</label>
            <textarea name="deskribapena" id="deskribapena"></textarea>
            <br/>
            <input type="submit" value="Sartu"/>
        </form>
    </body>
</html>