<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table>
            <thead>
                {% for column in header %}
                    <th>{{ column }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in items %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <form action="{{url_for('download_csv')}}">
            <input type="submit" value="Download">
        </form>
    </body>
</html>