<!DOCTYPE html>
<html>
    <head>
        <title>drone_info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
<body>
    <div>
        <button onclick="traducir('es')">Español</button>
        <button onclick="traducir('en')">Inglés</button>
        <button onclick="traducir('eu')">Euskera</button>
    </div>
    <div class="dronearen-informazioa"></div>
        <h1 data-i18n="info">Dronearen informazioa:</h1><h1> {{dronea}}</h1>
        <table>
            <tr>
                <td>Izena</td>
                <td>{{izena}}</td>
            </tr>
            <tr>
                <td>Mota</td>
                <td>{{mota}}</td>
            </tr>
            <tr>
                <td>Deskribapena</td>
                <td>{{deskribapena}}</td>
            </tr>
        </table>
        <form action="/modify_drone" method="post">
            <button type="submit" data-i18n="aldatu">Aldatu</button>
            <button type="submit" data-i18n="back2">Atzera</button>
        </form>
        </div>
        <script>
            let diccionario = {};
        
            // Cargar el archivo JSON al cargar la página
              fetch("{{ url_for('static', filename='traducciones.json') }}")
              .then(res => res.json())
              .then(data => {
                diccionario = data;
                traducir("eu"); // Idioma por defecto
              });
        
            function traducir(idioma) {
              document.querySelectorAll("[data-i18n]").forEach(el => {
                const clave = el.getAttribute("data-i18n");
                el.textContent = diccionario[idioma][clave] || clave;
              });
            }
        </script>
</body>
</html>
