<!DOCTYPE html>
<html>
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {{ header|safe }}
</head>
<body>
    <div class="map">
        {{ body_html|safe }}
        <script>
            {{ script|safe }}
        </script>
    </div>
    <div class="informazioaren-taula">
        <form action="/froga" method="post">
            <input type="hidden" id="list" name="list" value="{{list}}">
            <button type="submit" name="botoia" value="1">Paste</button>
        </form>

        <form action="/froga" method="post">
            <input type="number" id="long" name="long" value="{{long}}">
            <input type="number" id="lat" name="lat" value="{{lat}}">
            <input type="hidden" id="list" name="list" value="{{list}}">
            <button type="submit" name="botoia" value="2">Enter</button>
        </form>
    </div>
    <div class="dronen-taula">
        {{list}}
    </div>
    