<!DOCTYPE html>
<html>
    <head>
        <title>insert_sensor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
      <div>
        <button onclick="traducir('es')">Español</button>
        <button onclick="traducir('en')">Inglés</button>
        <button onclick="traducir('eu')">Euskera</button>
      </div>
      <script src="{{ url_for('static', filename='itzultzaile.js') }}"></script>
      <script>
        cargarTraducciones(); // Se carga el idioma por defecto o guardado
      </script>
            <h1 data-i18n="add4">Sentsorea gehitzeko formularioa</h1>
            <form action="/insert-sensor" method="post">
                <input type="text" id="izenaSentsorea" name="izenaSentsorea" placeholder="Izena" required>
                <input type="text" id="motaSentsorea" name="motaSentsorea" placeholder="Mota">
                <input type="text" id="deskribapenaSentsorea" name="deskribapenaSentsorea" placeholder="Deskribapena" required>
                <!--{% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {%endif%} -->
                <button type="submit" data-i18n="sartu">Sartu</button>
    </body>
</html>
