<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Login</title>
</head>
<body class="erdiratzea">
    {% if error%}
        <script>
            alert("{{error}}")
        </script>
    {% endif %}
    <div class="login-container" style=" z-index: 5;">
        <h2>Sartu zure erabiltzaile eta pasahitza</h2>
        <form id="login_form">
            <input type="text" id="erabiltzailea" name="erabiltzailea" placeholder="Erabiltzailea" required>
            <input type="password" id="pasahitza" name="pasahitza" placeholder="Pasahitza" required>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {%endif%}
            <button type="submit">Sartu</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('login_form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const erabiltzailea = document.getElementById('erabiltzailea').value;
            const pasahitza = document.getElementById('pasahitza').value;

            const encoder = new TextEncoder();
            const data = encoder.encode(pasahitza);

            const hashBuffer = await crypto.subtle.digest('SHA-256', data);

            const hashArray = Array.from(new Uint8Array(hashBuffer));
            const hashpasahitza = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

            const response = await fetch("/login", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({erabiltzailea: erabiltzailea, hash: hashpasahitza })
            });
        });
    </script>

    <!-- HAU TEMPLATEEKIN EGITEA KOMENIGARRIA LITEKE!-->
     <div class="footer" style=" z-index: 1;">
        <table class="footer" style="table-layout: fixed; border:none;" >
            <tr>
                <td style="text-align:left;  border:none; margin-left: 10px;">
                    <a href="https://www.ehu.eus/">
                        <img style="max-height: 6vh;" src="/static/media/EHU/EIB-EHU-Darkmode.png" alt="EHU-ko logotipoa">
                    </a>
                </td>
                <td style="text-align: center;  border:none;">
                    <a href="https://www.urpekari.eus/">
                        <img style="max-height: 6vh;" src="/static/media/Urpekari/LogoBig-Darkmode.png" alt="Urpekari Proiektuko logotipoa">
                    </a>
                </td>
                <td style="text-align: right;  border:none; margin-right: 10px;">
                    0.7.5-beta rc-1
                </td>
            </tr>
        </table>
    </div>
    </p>



</body>
</html>
