<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b896043f1a595ced5b37b963d9932cce {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b896043f1a595ced5b37b963d9932cce" ></div>
        
</body>
<script>
    
    
            var map_b896043f1a595ced5b37b963d9932cce = L.map(
                "map_b896043f1a595ced5b37b963d9932cce",
                {
                    center: [43.3533, -3.12659],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 16,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_c2c23ffaabe38c5ab05ef015629c5b12 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_c2c23ffaabe38c5ab05ef015629c5b12.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
            var feature_group_44f35e5763214fdd44aa196695a0c8be = L.featureGroup(
                {
}
            );
        
    
            var poly_line_26dc6bd45f50b37a4aea05d468108231 = L.polyline(
                [[43.3533, -3.12659]],
                {"bubblingMouseEvents": true, "color": "#FFB60C", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FFB60C", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_44f35e5763214fdd44aa196695a0c8be);
        
    
            poly_line_26dc6bd45f50b37a4aea05d468108231.bindTooltip(
                `<div>
                     Path followed by Hegazkin
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1f0a4a79fb015b6ae0385abcc31770d2 = L.marker(
                [43.3533, -3.1266],
                {
}
            ).addTo(feature_group_44f35e5763214fdd44aa196695a0c8be);
        
    
            var icon_2ed3246c997d9d9d39e2fdb3dfe62d1e = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#FFB60C",
  "icon": "house",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9f9792657891f0ad79475ba4b7c97297 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c4e809c3e94208e86bbab5ed7c0ca732 = $(`<div id="html_c4e809c3e94208e86bbab5ed7c0ca732" style="width: 100.0%; height: 100.0%;">Home at [43.3533, -3.1266] for Hegazkin</div>`)[0];
                popup_9f9792657891f0ad79475ba4b7c97297.setContent(html_c4e809c3e94208e86bbab5ed7c0ca732);
            
        

        marker_1f0a4a79fb015b6ae0385abcc31770d2.bindPopup(popup_9f9792657891f0ad79475ba4b7c97297)
        ;

        
    
    
            marker_1f0a4a79fb015b6ae0385abcc31770d2.bindTooltip(
                `<div>
                     Home point: [43.3533, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1f0a4a79fb015b6ae0385abcc31770d2.setIcon(icon_2ed3246c997d9d9d39e2fdb3dfe62d1e);
            
    
            var marker_8e7f82ef9bd91111e02c5abd4091a759 = L.marker(
                [43.3542, -3.1266],
                {
}
            ).addTo(feature_group_44f35e5763214fdd44aa196695a0c8be);
        
    
            var icon_404dd0680de1953bb6f506ddc8e2dffa = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "#1c1c1c",
  "icon": "flag",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1f5b1b34e2eba51ca10bf01d2d683720 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3962601b0024ef1018cca16aa40284dc = $(`<div id="html_3962601b0024ef1018cca16aa40284dc" style="width: 100.0%; height: 100.0%;">Waypoint at [43.3542, -3.1266] past by Hegazkin</div>`)[0];
                popup_1f5b1b34e2eba51ca10bf01d2d683720.setContent(html_3962601b0024ef1018cca16aa40284dc);
            
        

        marker_8e7f82ef9bd91111e02c5abd4091a759.bindPopup(popup_1f5b1b34e2eba51ca10bf01d2d683720)
        ;

        
    
    
            marker_8e7f82ef9bd91111e02c5abd4091a759.bindTooltip(
                `<div>
                     Past waypoint: [43.3542, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8e7f82ef9bd91111e02c5abd4091a759.setIcon(icon_404dd0680de1953bb6f506ddc8e2dffa);
            
    
            var marker_e4a4315cdb29d7481cd0803473f63f99 = L.marker(
                [43.355, -3.1266],
                {
}
            ).addTo(feature_group_44f35e5763214fdd44aa196695a0c8be);
        
    
            var icon_3024008b24631e95b861e4834faeae0c = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "#1c1c1c",
  "icon": "flag",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1a7539f69286296efe29cac2ea15b1dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d12da942a405d297a95fde0d8032c325 = $(`<div id="html_d12da942a405d297a95fde0d8032c325" style="width: 100.0%; height: 100.0%;">Waypoint at [43.355, -3.1266] past by Hegazkin</div>`)[0];
                popup_1a7539f69286296efe29cac2ea15b1dd.setContent(html_d12da942a405d297a95fde0d8032c325);
            
        

        marker_e4a4315cdb29d7481cd0803473f63f99.bindPopup(popup_1a7539f69286296efe29cac2ea15b1dd)
        ;

        
    
    
            marker_e4a4315cdb29d7481cd0803473f63f99.bindTooltip(
                `<div>
                     Past waypoint: [43.355, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_e4a4315cdb29d7481cd0803473f63f99.setIcon(icon_3024008b24631e95b861e4834faeae0c);
            
    
            feature_group_44f35e5763214fdd44aa196695a0c8be.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
            var feature_group_61ce310782135831f1865e8a39884ad2 = L.featureGroup(
                {
}
            );
        
    
            var marker_3e7a56d43040093f86c2a024d4794c53 = L.marker(
                [43.356236, -3.13085],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_1eb2133bc69a42688138f78c147f4ab5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_fc239a8f7f39499d278873a9af4374ad = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_63374b5eafd730ca1b15c9ba322178ef = $(`<div id="html_63374b5eafd730ca1b15c9ba322178ef" style="width: 100.0%; height: 100.0%;">Waypoint at [43.356236, -3.13085] for Hegazkin</div>`)[0];
                popup_fc239a8f7f39499d278873a9af4374ad.setContent(html_63374b5eafd730ca1b15c9ba322178ef);
            
        

        marker_3e7a56d43040093f86c2a024d4794c53.bindPopup(popup_fc239a8f7f39499d278873a9af4374ad)
        ;

        
    
    
            marker_3e7a56d43040093f86c2a024d4794c53.bindTooltip(
                `<div>
                     Waypoint: [43.356236, -3.13085]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_3e7a56d43040093f86c2a024d4794c53.setIcon(icon_1eb2133bc69a42688138f78c147f4ab5);
            
    
            var marker_85c74d536cd38fb432b53a2c9e343819 = L.marker(
                [43.354236, -3.131069],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_10deb0e894d534c1a713daa2a31299f5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2e11acefa1052d7b278a7a8eee962a2b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9b5e50cf1e5ed2f87fc50f244eb9fbbf = $(`<div id="html_9b5e50cf1e5ed2f87fc50f244eb9fbbf" style="width: 100.0%; height: 100.0%;">Waypoint at [43.354236, -3.131069] for Hegazkin</div>`)[0];
                popup_2e11acefa1052d7b278a7a8eee962a2b.setContent(html_9b5e50cf1e5ed2f87fc50f244eb9fbbf);
            
        

        marker_85c74d536cd38fb432b53a2c9e343819.bindPopup(popup_2e11acefa1052d7b278a7a8eee962a2b)
        ;

        
    
    
            marker_85c74d536cd38fb432b53a2c9e343819.bindTooltip(
                `<div>
                     Waypoint: [43.354236, -3.131069]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_85c74d536cd38fb432b53a2c9e343819.setIcon(icon_10deb0e894d534c1a713daa2a31299f5);
            
    
            var marker_d50ba1df05288161274225f710c40fc2 = L.marker(
                [43.353209, -3.133613],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_1550627864d23caa68ed42b0ff82739d = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c3db9a363144e069957e73739220b299 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a309f3125a8c17272719d029e727ea53 = $(`<div id="html_a309f3125a8c17272719d029e727ea53" style="width: 100.0%; height: 100.0%;">Waypoint at [43.353209, -3.133613] for Hegazkin</div>`)[0];
                popup_c3db9a363144e069957e73739220b299.setContent(html_a309f3125a8c17272719d029e727ea53);
            
        

        marker_d50ba1df05288161274225f710c40fc2.bindPopup(popup_c3db9a363144e069957e73739220b299)
        ;

        
    
    
            marker_d50ba1df05288161274225f710c40fc2.bindTooltip(
                `<div>
                     Waypoint: [43.353209, -3.133613]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d50ba1df05288161274225f710c40fc2.setIcon(icon_1550627864d23caa68ed42b0ff82739d);
            
    
            var marker_c890562afa933e3e5e48505ba4ea742d = L.marker(
                [43.35324, -3.138345],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_e66ffca1fed82f5376473c4f7005256a = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_98278322ec106ad3426f8ef7224e8dd3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e6f6f8ec9674e158a43f3fb8d4679305 = $(`<div id="html_e6f6f8ec9674e158a43f3fb8d4679305" style="width: 100.0%; height: 100.0%;">Waypoint at [43.35324, -3.138345] for Hegazkin</div>`)[0];
                popup_98278322ec106ad3426f8ef7224e8dd3.setContent(html_e6f6f8ec9674e158a43f3fb8d4679305);
            
        

        marker_c890562afa933e3e5e48505ba4ea742d.bindPopup(popup_98278322ec106ad3426f8ef7224e8dd3)
        ;

        
    
    
            marker_c890562afa933e3e5e48505ba4ea742d.bindTooltip(
                `<div>
                     Waypoint: [43.35324, -3.138345]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c890562afa933e3e5e48505ba4ea742d.setIcon(icon_e66ffca1fed82f5376473c4f7005256a);
            
    
            var marker_7627d627093d30ebd614ec9d7ec03c99 = L.marker(
                [43.352237, -3.142307],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_39a5eaeb08e9a06fc0b4a8190af825ab = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_186d40cc8235947ab7e1a5e48971eb17 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_700055055b047f1f15e3ebef031d59cc = $(`<div id="html_700055055b047f1f15e3ebef031d59cc" style="width: 100.0%; height: 100.0%;">Waypoint at [43.352237, -3.142307] for Hegazkin</div>`)[0];
                popup_186d40cc8235947ab7e1a5e48971eb17.setContent(html_700055055b047f1f15e3ebef031d59cc);
            
        

        marker_7627d627093d30ebd614ec9d7ec03c99.bindPopup(popup_186d40cc8235947ab7e1a5e48971eb17)
        ;

        
    
    
            marker_7627d627093d30ebd614ec9d7ec03c99.bindTooltip(
                `<div>
                     Waypoint: [43.352237, -3.142307]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7627d627093d30ebd614ec9d7ec03c99.setIcon(icon_39a5eaeb08e9a06fc0b4a8190af825ab);
            
    
            var marker_96fd122cf683c6ca99d8bab9b3dc1bae = L.marker(
                [43.350692, -3.144254],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_34abe8bd1ffaa9e1e828daf88335101a = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d7c72805949950e8869c79f378726229 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e82d9eb287885b231ccc982092aa2b96 = $(`<div id="html_e82d9eb287885b231ccc982092aa2b96" style="width: 100.0%; height: 100.0%;">Waypoint at [43.350692, -3.144254] for Hegazkin</div>`)[0];
                popup_d7c72805949950e8869c79f378726229.setContent(html_e82d9eb287885b231ccc982092aa2b96);
            
        

        marker_96fd122cf683c6ca99d8bab9b3dc1bae.bindPopup(popup_d7c72805949950e8869c79f378726229)
        ;

        
    
    
            marker_96fd122cf683c6ca99d8bab9b3dc1bae.bindTooltip(
                `<div>
                     Waypoint: [43.350692, -3.144254]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_96fd122cf683c6ca99d8bab9b3dc1bae.setIcon(icon_34abe8bd1ffaa9e1e828daf88335101a);
            
    
            var poly_line_215b97ef79206936e7709be9bbdc5395 = L.polyline(
                [[43.3533, -3.12659], [43.356236, -3.13085], [43.354236, -3.131069], [43.353209, -3.133613], [43.35324, -3.138345], [43.352237, -3.142307], [43.350692, -3.144254], [43.349986, -3.143157]],
                {"bubblingMouseEvents": true, "color": "#DC267F", "dashArray": 10, "dashOffset": null, "fill": false, "fillColor": "#DC267F", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            poly_line_215b97ef79206936e7709be9bbdc5395.bindTooltip(
                `<div>
                     Path to be followed Hegazkin
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a56266b4881fc08a9278622f60230f35 = L.marker(
                [43.349986, -3.143157],
                {
}
            ).addTo(feature_group_61ce310782135831f1865e8a39884ad2);
        
    
            var icon_f9a4ca76d533db95fa81616fb643032f = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#DC267F",
  "icon": "flag-checkered",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f095446df05f9fc85e25201d16ce540f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a64c669723bf4eb50a401da037771837 = $(`<div id="html_a64c669723bf4eb50a401da037771837" style="width: 100.0%; height: 100.0%;">Homne at [43.349986, -3.143157] for Hegazkin</div>`)[0];
                popup_f095446df05f9fc85e25201d16ce540f.setContent(html_a64c669723bf4eb50a401da037771837);
            
        

        marker_a56266b4881fc08a9278622f60230f35.bindPopup(popup_f095446df05f9fc85e25201d16ce540f)
        ;

        
    
    
            marker_a56266b4881fc08a9278622f60230f35.bindTooltip(
                `<div>
                     Home point: [43.349986, -3.143157]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a56266b4881fc08a9278622f60230f35.setIcon(icon_f9a4ca76d533db95fa81616fb643032f);
            
    
            feature_group_61ce310782135831f1865e8a39884ad2.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
            var marker_1755288a23f70fb53f85788ebf1f1cb8 = L.marker(
                [43.3533, -3.12659],
                {
}
            ).addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
            var icon_fc93861d8732e87048010ec62449299e = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#FFB60C",
  "icon": "plane",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b781aa9890581781de30e36514471fc1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e562d22814fdecf94f360388c60b160b = $(`<div id="html_e562d22814fdecf94f360388c60b160b" style="width: 100.0%; height: 100.0%;">Latest known position for Hegazkin</div>`)[0];
                popup_b781aa9890581781de30e36514471fc1.setContent(html_e562d22814fdecf94f360388c60b160b);
            
        

        marker_1755288a23f70fb53f85788ebf1f1cb8.bindPopup(popup_b781aa9890581781de30e36514471fc1)
        ;

        
    
    
            marker_1755288a23f70fb53f85788ebf1f1cb8.bindTooltip(
                `<div>
                     Latest
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1755288a23f70fb53f85788ebf1f1cb8.setIcon(icon_fc93861d8732e87048010ec62449299e);
            
    
            var layer_control_116436d3b6f8819f8ef0d3812edcc9c3_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_c2c23ffaabe38c5ab05ef015629c5b12,
                },
                overlays :  {
                    "Past Waypoints" : feature_group_44f35e5763214fdd44aa196695a0c8be,
                    "Next Waypoints" : feature_group_61ce310782135831f1865e8a39884ad2,
                },
            };
            let layer_control_116436d3b6f8819f8ef0d3812edcc9c3 = L.control.layers(
                layer_control_116436d3b6f8819f8ef0d3812edcc9c3_layers.base_layers,
                layer_control_116436d3b6f8819f8ef0d3812edcc9c3_layers.overlays,
                {
  "position": "topright",
  "collapsed": true,
  "autoZIndex": true,
}
            ).addTo(map_b896043f1a595ced5b37b963d9932cce);

        
    
            tile_layer_c2c23ffaabe38c5ab05ef015629c5b12.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
                marker_1f0a4a79fb015b6ae0385abcc31770d2.setIcon(icon_2ed3246c997d9d9d39e2fdb3dfe62d1e);
            
    
                marker_8e7f82ef9bd91111e02c5abd4091a759.setIcon(icon_404dd0680de1953bb6f506ddc8e2dffa);
            
    
                marker_e4a4315cdb29d7481cd0803473f63f99.setIcon(icon_3024008b24631e95b861e4834faeae0c);
            
    
            feature_group_44f35e5763214fdd44aa196695a0c8be.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
                marker_3e7a56d43040093f86c2a024d4794c53.setIcon(icon_1eb2133bc69a42688138f78c147f4ab5);
            
    
                marker_85c74d536cd38fb432b53a2c9e343819.setIcon(icon_10deb0e894d534c1a713daa2a31299f5);
            
    
                marker_d50ba1df05288161274225f710c40fc2.setIcon(icon_1550627864d23caa68ed42b0ff82739d);
            
    
                marker_c890562afa933e3e5e48505ba4ea742d.setIcon(icon_e66ffca1fed82f5376473c4f7005256a);
            
    
                marker_7627d627093d30ebd614ec9d7ec03c99.setIcon(icon_39a5eaeb08e9a06fc0b4a8190af825ab);
            
    
                marker_96fd122cf683c6ca99d8bab9b3dc1bae.setIcon(icon_34abe8bd1ffaa9e1e828daf88335101a);
            
    
                marker_a56266b4881fc08a9278622f60230f35.setIcon(icon_f9a4ca76d533db95fa81616fb643032f);
            
    
            feature_group_61ce310782135831f1865e8a39884ad2.addTo(map_b896043f1a595ced5b37b963d9932cce);
        
    
                marker_1755288a23f70fb53f85788ebf1f1cb8.setIcon(icon_fc93861d8732e87048010ec62449299e);
            
    
                var lat_lng_popup_be7a4fb6a8e9f4f3fe71ed7b88025f83 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_be7a4fb6a8e9f4f3fe71ed7b88025f83
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_b896043f1a595ced5b37b963d9932cce);
                    }
                map_b896043f1a595ced5b37b963d9932cce.on('click', latLngPop);
            
</script>
</html>