<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8875c5fddb8fe708188685397533ff7a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8875c5fddb8fe708188685397533ff7a" ></div>
        
</body>
<script>
    
    
            var map_8875c5fddb8fe708188685397533ff7a = L.map(
                "map_8875c5fddb8fe708188685397533ff7a",
                {
                    center: [43.3553, -3.1266],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 16,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_4976b241abab00bc6250bbe6399ffd46 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_4976b241abab00bc6250bbe6399ffd46.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
            var feature_group_1a7eea902ef260bf9287c4cae520454b = L.featureGroup(
                {
}
            );
        
    
            var poly_line_f8958abde71e36cabd6fb1c8e21b5c0a = L.polyline(
                [[43.3533, -3.12659], [43.3542, -3.12662], [43.3553, -3.1266]],
                {"bubblingMouseEvents": true, "color": "#FFB60C", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#FFB60C", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_1a7eea902ef260bf9287c4cae520454b);
        
    
            poly_line_f8958abde71e36cabd6fb1c8e21b5c0a.bindTooltip(
                `<div>
                     Path followed by Galerna
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f75a6f423707eaad649c63d79ea2cd7a = L.marker(
                [43.3533, -3.1266],
                {
}
            ).addTo(feature_group_1a7eea902ef260bf9287c4cae520454b);
        
    
            var icon_8842e73169d63e1f7a3176167d0d74b7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#FFB60C",
  "icon": "house",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9c5b99a2c149985fa3dac5cec2b320d7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_85de98504d538102fd8821d35df0166e = $(`<div id="html_85de98504d538102fd8821d35df0166e" style="width: 100.0%; height: 100.0%;">Home at [43.3533, -3.1266] for Galerna</div>`)[0];
                popup_9c5b99a2c149985fa3dac5cec2b320d7.setContent(html_85de98504d538102fd8821d35df0166e);
            
        

        marker_f75a6f423707eaad649c63d79ea2cd7a.bindPopup(popup_9c5b99a2c149985fa3dac5cec2b320d7)
        ;

        
    
    
            marker_f75a6f423707eaad649c63d79ea2cd7a.bindTooltip(
                `<div>
                     Home point: [43.3533, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_f75a6f423707eaad649c63d79ea2cd7a.setIcon(icon_8842e73169d63e1f7a3176167d0d74b7);
            
    
            var marker_f6b10d82b5822384feb133a6ed132ac0 = L.marker(
                [43.3542, -3.1266],
                {
}
            ).addTo(feature_group_1a7eea902ef260bf9287c4cae520454b);
        
    
            var icon_f123aef8bb9eae5e9bbb4ba6923e7f8d = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "#1c1c1c",
  "icon": "flag",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0d2dd1dd684466057f9caa9f4acfe672 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_96ab295a445ba6ff31769d0aa15238c5 = $(`<div id="html_96ab295a445ba6ff31769d0aa15238c5" style="width: 100.0%; height: 100.0%;">Waypoint at [43.3542, -3.1266] past by Galerna</div>`)[0];
                popup_0d2dd1dd684466057f9caa9f4acfe672.setContent(html_96ab295a445ba6ff31769d0aa15238c5);
            
        

        marker_f6b10d82b5822384feb133a6ed132ac0.bindPopup(popup_0d2dd1dd684466057f9caa9f4acfe672)
        ;

        
    
    
            marker_f6b10d82b5822384feb133a6ed132ac0.bindTooltip(
                `<div>
                     Past waypoint: [43.3542, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_f6b10d82b5822384feb133a6ed132ac0.setIcon(icon_f123aef8bb9eae5e9bbb4ba6923e7f8d);
            
    
            var marker_47eb35134ed302509056f2c0cf3e14ef = L.marker(
                [43.355, -3.1266],
                {
}
            ).addTo(feature_group_1a7eea902ef260bf9287c4cae520454b);
        
    
            var icon_f10f579559e76f33fa5926d8834b4fc5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "#1c1c1c",
  "icon": "flag",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_8142a20564a4933d16f3bcbf3dcc7c06 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8da812599be67554223bdd6f41a9a15c = $(`<div id="html_8da812599be67554223bdd6f41a9a15c" style="width: 100.0%; height: 100.0%;">Waypoint at [43.355, -3.1266] past by Galerna</div>`)[0];
                popup_8142a20564a4933d16f3bcbf3dcc7c06.setContent(html_8da812599be67554223bdd6f41a9a15c);
            
        

        marker_47eb35134ed302509056f2c0cf3e14ef.bindPopup(popup_8142a20564a4933d16f3bcbf3dcc7c06)
        ;

        
    
    
            marker_47eb35134ed302509056f2c0cf3e14ef.bindTooltip(
                `<div>
                     Past waypoint: [43.355, -3.1266]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_47eb35134ed302509056f2c0cf3e14ef.setIcon(icon_f10f579559e76f33fa5926d8834b4fc5);
            
    
            feature_group_1a7eea902ef260bf9287c4cae520454b.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
            var feature_group_9855f92c024346f13650ad94d191d8dc = L.featureGroup(
                {
}
            );
        
    
            var marker_325107cde8657477334752f3edb0f33d = L.marker(
                [43.356236, -3.13085],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_b7be09ba874e13dde0abb8758edd6b11 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_991a5db97cf858ffad7c16bfea2a6d65 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_de4f2f023b8bb6c1870530637b462ff4 = $(`<div id="html_de4f2f023b8bb6c1870530637b462ff4" style="width: 100.0%; height: 100.0%;">Waypoint at [43.356236, -3.13085] for Galerna</div>`)[0];
                popup_991a5db97cf858ffad7c16bfea2a6d65.setContent(html_de4f2f023b8bb6c1870530637b462ff4);
            
        

        marker_325107cde8657477334752f3edb0f33d.bindPopup(popup_991a5db97cf858ffad7c16bfea2a6d65)
        ;

        
    
    
            marker_325107cde8657477334752f3edb0f33d.bindTooltip(
                `<div>
                     Waypoint: [43.356236, -3.13085]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_325107cde8657477334752f3edb0f33d.setIcon(icon_b7be09ba874e13dde0abb8758edd6b11);
            
    
            var marker_6bf50470a916c1b65ef4e74540b1d760 = L.marker(
                [43.354236, -3.131069],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_3c33d37d1e0c74cc2bc8a0e2a235dcd2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0c7e66133ebd4348c6eb480a07ed15e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8165662d66b1f774dff2dbffba0ef8f2 = $(`<div id="html_8165662d66b1f774dff2dbffba0ef8f2" style="width: 100.0%; height: 100.0%;">Waypoint at [43.354236, -3.131069] for Galerna</div>`)[0];
                popup_0c7e66133ebd4348c6eb480a07ed15e0.setContent(html_8165662d66b1f774dff2dbffba0ef8f2);
            
        

        marker_6bf50470a916c1b65ef4e74540b1d760.bindPopup(popup_0c7e66133ebd4348c6eb480a07ed15e0)
        ;

        
    
    
            marker_6bf50470a916c1b65ef4e74540b1d760.bindTooltip(
                `<div>
                     Waypoint: [43.354236, -3.131069]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6bf50470a916c1b65ef4e74540b1d760.setIcon(icon_3c33d37d1e0c74cc2bc8a0e2a235dcd2);
            
    
            var marker_c176f12fd575a0f1a1d8010ea898591c = L.marker(
                [43.353209, -3.133613],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_15c40422293add742d1b92b4ab29fa3e = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2d23c7b1aeb59a26bdcbed14b70ca5dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_eef4a3f02faba098b4d3714d71befcc7 = $(`<div id="html_eef4a3f02faba098b4d3714d71befcc7" style="width: 100.0%; height: 100.0%;">Waypoint at [43.353209, -3.133613] for Galerna</div>`)[0];
                popup_2d23c7b1aeb59a26bdcbed14b70ca5dd.setContent(html_eef4a3f02faba098b4d3714d71befcc7);
            
        

        marker_c176f12fd575a0f1a1d8010ea898591c.bindPopup(popup_2d23c7b1aeb59a26bdcbed14b70ca5dd)
        ;

        
    
    
            marker_c176f12fd575a0f1a1d8010ea898591c.bindTooltip(
                `<div>
                     Waypoint: [43.353209, -3.133613]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c176f12fd575a0f1a1d8010ea898591c.setIcon(icon_15c40422293add742d1b92b4ab29fa3e);
            
    
            var marker_1c6ee2879d7d1a7ae1ef4ed2c1b34588 = L.marker(
                [43.35324, -3.138345],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_34e720bf773f960e309b4629684f0fcf = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_df0962d0ad57ce94e40b6068ba0b1811 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0ffcce0173014d8e6749bf09dbf8b084 = $(`<div id="html_0ffcce0173014d8e6749bf09dbf8b084" style="width: 100.0%; height: 100.0%;">Waypoint at [43.35324, -3.138345] for Galerna</div>`)[0];
                popup_df0962d0ad57ce94e40b6068ba0b1811.setContent(html_0ffcce0173014d8e6749bf09dbf8b084);
            
        

        marker_1c6ee2879d7d1a7ae1ef4ed2c1b34588.bindPopup(popup_df0962d0ad57ce94e40b6068ba0b1811)
        ;

        
    
    
            marker_1c6ee2879d7d1a7ae1ef4ed2c1b34588.bindTooltip(
                `<div>
                     Waypoint: [43.35324, -3.138345]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1c6ee2879d7d1a7ae1ef4ed2c1b34588.setIcon(icon_34e720bf773f960e309b4629684f0fcf);
            
    
            var marker_777275676deb8159850ce7973c9f8274 = L.marker(
                [43.352237, -3.142307],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_ef275b8dfd5d6602e536328d446ab6f8 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_99c80309584f9bdc6d2b10d50fe70a99 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b8180268e5f7b1b7f1d2487662913de1 = $(`<div id="html_b8180268e5f7b1b7f1d2487662913de1" style="width: 100.0%; height: 100.0%;">Waypoint at [43.352237, -3.142307] for Galerna</div>`)[0];
                popup_99c80309584f9bdc6d2b10d50fe70a99.setContent(html_b8180268e5f7b1b7f1d2487662913de1);
            
        

        marker_777275676deb8159850ce7973c9f8274.bindPopup(popup_99c80309584f9bdc6d2b10d50fe70a99)
        ;

        
    
    
            marker_777275676deb8159850ce7973c9f8274.bindTooltip(
                `<div>
                     Waypoint: [43.352237, -3.142307]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_777275676deb8159850ce7973c9f8274.setIcon(icon_ef275b8dfd5d6602e536328d446ab6f8);
            
    
            var marker_515f338ba91665367fbd3a30cf14800d = L.marker(
                [43.350692, -3.144254],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_4a0e51aa5802004233f0fb49e3be8460 = L.AwesomeMarkers.icon(
                {
  "markerColor": "purple",
  "iconColor": "#1c1c1c",
  "icon": "compass",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2cfa7ef11b465b29d8e649bfbda8c397 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3b6bb446a827f4057069453165836d09 = $(`<div id="html_3b6bb446a827f4057069453165836d09" style="width: 100.0%; height: 100.0%;">Waypoint at [43.350692, -3.144254] for Galerna</div>`)[0];
                popup_2cfa7ef11b465b29d8e649bfbda8c397.setContent(html_3b6bb446a827f4057069453165836d09);
            
        

        marker_515f338ba91665367fbd3a30cf14800d.bindPopup(popup_2cfa7ef11b465b29d8e649bfbda8c397)
        ;

        
    
    
            marker_515f338ba91665367fbd3a30cf14800d.bindTooltip(
                `<div>
                     Waypoint: [43.350692, -3.144254]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_515f338ba91665367fbd3a30cf14800d.setIcon(icon_4a0e51aa5802004233f0fb49e3be8460);
            
    
            var poly_line_1f4ab3449ab03549a0ce4fdf7397e9b6 = L.polyline(
                [[43.3553, -3.1266], [43.356236, -3.13085], [43.354236, -3.131069], [43.353209, -3.133613], [43.35324, -3.138345], [43.352237, -3.142307], [43.350692, -3.144254], [43.349986, -3.143157]],
                {"bubblingMouseEvents": true, "color": "#DC267F", "dashArray": 10, "dashOffset": null, "fill": false, "fillColor": "#DC267F", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            poly_line_1f4ab3449ab03549a0ce4fdf7397e9b6.bindTooltip(
                `<div>
                     Path to be followed Galerna
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d5283fcbf012f4582c47e148d0a3f5ce = L.marker(
                [43.349986, -3.143157],
                {
}
            ).addTo(feature_group_9855f92c024346f13650ad94d191d8dc);
        
    
            var icon_7be263438f104896f51b1e7af2b1be7a = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#DC267F",
  "icon": "flag-checkered",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_77be80b69437d25968bf716c94e496de = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d5b9deaa874b3bd378bbdd75b9a25fcf = $(`<div id="html_d5b9deaa874b3bd378bbdd75b9a25fcf" style="width: 100.0%; height: 100.0%;">Homne at [43.349986, -3.143157] for Galerna</div>`)[0];
                popup_77be80b69437d25968bf716c94e496de.setContent(html_d5b9deaa874b3bd378bbdd75b9a25fcf);
            
        

        marker_d5283fcbf012f4582c47e148d0a3f5ce.bindPopup(popup_77be80b69437d25968bf716c94e496de)
        ;

        
    
    
            marker_d5283fcbf012f4582c47e148d0a3f5ce.bindTooltip(
                `<div>
                     Home point: [43.349986, -3.143157]
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d5283fcbf012f4582c47e148d0a3f5ce.setIcon(icon_7be263438f104896f51b1e7af2b1be7a);
            
    
            feature_group_9855f92c024346f13650ad94d191d8dc.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
            var marker_6607ef6604f7cb78d1940a8922a24272 = L.marker(
                [43.3553, -3.1266],
                {
}
            ).addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
            var icon_e0f4483b6e35ff8a6f7e0def5cad2912 = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "#FFB60C",
  "icon": "plane",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4668b93834871f16b58acbc2aa638400 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_67bbbbe2821f207e2d52cb711373a53b = $(`<div id="html_67bbbbe2821f207e2d52cb711373a53b" style="width: 100.0%; height: 100.0%;">Latest known position for Galerna</div>`)[0];
                popup_4668b93834871f16b58acbc2aa638400.setContent(html_67bbbbe2821f207e2d52cb711373a53b);
            
        

        marker_6607ef6604f7cb78d1940a8922a24272.bindPopup(popup_4668b93834871f16b58acbc2aa638400)
        ;

        
    
    
            marker_6607ef6604f7cb78d1940a8922a24272.bindTooltip(
                `<div>
                     Latest
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6607ef6604f7cb78d1940a8922a24272.setIcon(icon_e0f4483b6e35ff8a6f7e0def5cad2912);
            
    
            var layer_control_aab1c712759276517ced3ff86fb84cfa_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_4976b241abab00bc6250bbe6399ffd46,
                },
                overlays :  {
                    "Past Waypoints" : feature_group_1a7eea902ef260bf9287c4cae520454b,
                    "Next Waypoints" : feature_group_9855f92c024346f13650ad94d191d8dc,
                },
            };
            let layer_control_aab1c712759276517ced3ff86fb84cfa = L.control.layers(
                layer_control_aab1c712759276517ced3ff86fb84cfa_layers.base_layers,
                layer_control_aab1c712759276517ced3ff86fb84cfa_layers.overlays,
                {
  "position": "topright",
  "collapsed": true,
  "autoZIndex": true,
}
            ).addTo(map_8875c5fddb8fe708188685397533ff7a);

        
    
            tile_layer_4976b241abab00bc6250bbe6399ffd46.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
                marker_f75a6f423707eaad649c63d79ea2cd7a.setIcon(icon_8842e73169d63e1f7a3176167d0d74b7);
            
    
                marker_f6b10d82b5822384feb133a6ed132ac0.setIcon(icon_f123aef8bb9eae5e9bbb4ba6923e7f8d);
            
    
                marker_47eb35134ed302509056f2c0cf3e14ef.setIcon(icon_f10f579559e76f33fa5926d8834b4fc5);
            
    
            feature_group_1a7eea902ef260bf9287c4cae520454b.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
                marker_325107cde8657477334752f3edb0f33d.setIcon(icon_b7be09ba874e13dde0abb8758edd6b11);
            
    
                marker_6bf50470a916c1b65ef4e74540b1d760.setIcon(icon_3c33d37d1e0c74cc2bc8a0e2a235dcd2);
            
    
                marker_c176f12fd575a0f1a1d8010ea898591c.setIcon(icon_15c40422293add742d1b92b4ab29fa3e);
            
    
                marker_1c6ee2879d7d1a7ae1ef4ed2c1b34588.setIcon(icon_34e720bf773f960e309b4629684f0fcf);
            
    
                marker_777275676deb8159850ce7973c9f8274.setIcon(icon_ef275b8dfd5d6602e536328d446ab6f8);
            
    
                marker_515f338ba91665367fbd3a30cf14800d.setIcon(icon_4a0e51aa5802004233f0fb49e3be8460);
            
    
                marker_d5283fcbf012f4582c47e148d0a3f5ce.setIcon(icon_7be263438f104896f51b1e7af2b1be7a);
            
    
            feature_group_9855f92c024346f13650ad94d191d8dc.addTo(map_8875c5fddb8fe708188685397533ff7a);
        
    
                marker_6607ef6604f7cb78d1940a8922a24272.setIcon(icon_e0f4483b6e35ff8a6f7e0def5cad2912);
            
    
                function getLatLng(e){
                    var lat = e.latlng.lat.toFixed(6),
                        lng = e.latlng.lng.toFixed(6);
                    var txt = "[" + lat + "," + lng + "]";
                    navigator.clipboard.writeText(txt);
                    alert("Copied to clipboard : \n    " + txt);
                    };
                map_8875c5fddb8fe708188685397533ff7a.on('click', getLatLng);
            
</script>
</html>