<!DOCTYPE html>
<html>
    <head>
        <title>modify_drone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Droneak aldatzeko formularioa</h1>
        <form action="/modify_drone" method="post">
            <input type="text" id="izenaDrone" name="izenaDrone" placeholder="Izen berria">
            <select id="mota" name="mota">
                <option value="Hegazkina">Hegazkina</option>
                <option value="Itsasontzia">Itsasontzia</option>
                <option value="Submarinoa">Submarinoa</option>
                <option value="Multikopteroa">Multikopteroa</option>
                <option value="Kotxea">Kotxea</option>
            </select>
            <input type="text" id="deskribapena" name="deskribapena" placeholder="Deskribapen berria">
            <button type="submit">Aldatu</button>
            <button type="submit">Sentsore gehitu</button>
        </form>
    </body>
</html>
