<!DOCTYPE html>
<html>
    <head>
        <title>modify_drone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Dronearen informazioa:</h1>
        <br>
        <br>
        <table>
            <thead>
                <th>ID</th><th>Izena</th><th>Mota</th><th>Deskribapena</th>
            </thead>
            <tbody>
                <tr>
                    {% for element in drone %}
                        <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <form action="/control" method="post"></formaction>
            <button type="submit">Aldatu</button>
        </form>
        <form action="/insert_sensor" method="post"></formaction>
            <button type="submit">Sentsore gehitu</button>
        </form>
    </body>
</html>