<!DOCTYPE html>
<html>
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="erdiratzea">
    <p>
        <div class="zentratua">
            <h1 style="font-size: 500%;">RobIoT</h1>
            <br><br><br>
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/sign-up">
                <button>Sign up</button>
            </a>
        </div>
    </p><p>
    <div class="footer">
        <table class="footer" style="table-layout: fixed; border:none;" >
            <tr>
                <td style="text-align:left; border:none;">
                    <a href="https://www.ehu.eus/">
                        <img style="max-height: 6vh;" src="/static/media/EHU/EIB-EHU-Darkmode.png" alt="EHU-ko logotipoa">
                    </a>
                </td>
                <td style="text-align: center; border:none;">
                    <a href="https://www.urpekari.eus/">
                        <img style="max-height: 6vh;" src="/static/media/Urpekari/LogoBig-Darkmode.png" alt="Urpekari Proiektuko logotipoa">
                    </a>
                </td>
                <td style="text-align:right; border:none;">
                    0.7.0-beta
                </td>
            </tr>
        </table>
    </div>
    </p>

</body>
</html>