<!DOCTYPE html>
<html>
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="zentratua">
        <h1>RobIoT</h1>
        <br><br><br>
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/sign-up">
            <button>Sign up</button>
        </a>
    </div>
    
</body>
</html>