<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Sign up</title>
</head>
<body class="erdiratzea">
    {% if error%}
        <script>
            alert("{{error}}")
        </script>
    {% endif %}
    <div class="login-container">
        <h2>Sortu kontua:</h2>
        <form action="/sign-up" method="post">
            <input type="text" id="izena" name="izena" placeholder="Izena" required>
            <input type="text" id="abizena" name="abizena" placeholder="Abizena">
            <input type="password" id="pasahitza" name="pasahitza" placeholder="Pasahitza" required>
            <input type="email" id="email" name="email" placeholder="E-mail">
            <input type="text" id="dokumentuak" name="dokumentuak" placeholder="XXXXXXXXXXXXXXXX">
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {%endif%}
            <button type="submit">Sartu</button>
        </form>
    </div>

    <!-- HAU TEMPLATEEKIN EGITEA KOMENIGARRIA LITEKE!-->
    <div class="footer">
        <table class="footer" style="table-layout: fixed; border:none;" >
            <tr>
                <td style="text-align:left;  border:none; margin-left: 10px;">
                    <a href="https://www.ehu.eus/">
                        <img style="max-height: 6vh;" src="/static/media/EHU/EIB-EHU-Darkmode.png" alt="EHU-ko logotipoa">
                    </a>
                </td>
                <td style="text-align: center;  border:none;">
                    <a href="https://www.urpekari.eus/">
                        <img style="max-height: 6vh;" src="/static/media/Urpekari/LogoBig-Darkmode.png" alt="Urpekari Proiektuko logotipoa">
                    </a>
                </td>
                <td style="text-align: right;  border:none; margin-right: 10px;">
                    0.7.5-beta
                </td>
            </tr>
        </table>
    </div>
    </p>



</body>
</html>